{% extends "base.html" %}

{% block title %} {{ super() }} - Sobre {% endblock title %}
{% block script %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock script %}

{% block section %}

<div class="container">
	<!-- LINHA 1-->
	<div class='row'>
		<!-- O QUE E-->
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-inline" id="block">
			<div class="card border-blue-5 card-block">
					<div class="card-header text-white bg-blue-5">O que é Entrust?</div>
					<div class="card-body">
						<p class="justify">O Entrust é uma aplicação que visa representar de maneira didática a solução e a visualização gráfica de funções matemáticas de primeiro a quarto grau. Entre os recursos disponíveis na aplicação, temos: receber funções com diferentes variáveis, mas com uma incógnita somente; orientar o usuário sobre a devida sintaxe de equações presente no sistema; gerar gráficos com base na função de entrada quando igualamos a mesma a y; e, por fim, apresentar as raízes &real; da equação quando igualamos a função a 0.</p>
					</div>
			</div>
		</div>

		<!-- O desenvolvimento -->
		<div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 d-inline" id="block">
			<div class="card border-blue-5" style="min-height: 100%;">
				<div class="card-header text-white bg-blue-5">O Desenvolvimento</div>
				<div class="card-body">
					<p class="justify">O desenvolvimento da aplicação faz parte de um projeto de pesquisa do Instituo Federal Catarinense - Campus Blumenau.</p>
				</div>
			</div>
		</div>
		<!-- O codigo -->
		<div class="'col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 d-inline" id="block">
			<div class="card border-blue-5 card-block">
				<div class="card-header text-white bg-blue-5">O Código</div>
				<div class="card-body">
					<p class="justify">O código da aplicação encontra-se disponível em repositórios do GitLab e do GitHub de forma pública, sob os seguintes endereços: <i><a href='https://gitlab.blumenau.ifc.edu.br/Adriano/entrust' target='blank'>gitlab.blumenau.ifc.edu.br/Adriano/entrust</a></i> e <i><a href='https://github.com/Fritas/entrust' target='blank'>github.com/Fritas/entrust</a></i>.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- LINHA 2 -->
	<div class='row'>
		<!-- Desenvolvedor  -->
		<div class='col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-inline' id="block">
			<div class="card border-blue-5 card-block">
				<div class="card-header text-white bg-blue-5">Equipe</div>
				<ul class="list-group list-group-flus">

						<li class="list-group-item">
							<p class="justify">Desenvolvedor: Adriano Damasceno da Silva Júnior. Aluno do Curso Técnico em Informática Integrado ao Ensino Médio do IFC Campus Blumenau; adamascenosj@gmail.com. <a href="http://lattes.cnpq.br/8609985120910990" target="blank">Currículo Lattes</a></p>
						</li>

						<li class="list-group-item">
							<p class="justify">Orientador: Hylson Vescovi Netto. Professor de Informática, IFC Campus Blumenau,  hylson.vescovi@ifc.edu.br. <a href="http://lattes.cnpq.br/6155862179794521" target="blank">Currículo Lattes</a></p>
						</li>

						<li class="list-group-item">
							<p class="justify">Co-orientador: Riad Mattos Nassiffe. Professor de Informática, IFC Campus Blumenau,  riad.nassiffe@ifc.edu.br. <a href="http://lattes.cnpq.br/8149931631827091" target="blank">Currículo Lattes</a></p>
						</li>

						<li class="list-group-item">
							<p class="justify">Colaborador: Alexandre Veloso dos Santos. Professor de Matemática, IFC Campus Blumenau,  alexandre.santos@ifc.edu.br.</p>
						</li>

				</ul>
			</div>	
		</div>
	</div>

	<!-- LINHA 3 -->
	<div class="row">
		<!-- O instituto -->
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-inline" id="block">
			<div class="card border-blue-5 card-block">
			<div class="card-header text-white bg-blue-5 justify">O Instituto Federal Catarinense</div>
				<div class="card-body justify">
					<p class="justify">O Instituto Federal Catarinense tem por missão: Proporcionar educação profissional, atuando em Ensino, Pesquisa e Extensão, comprometida com a formação cidadã, a inclusão social, a inovação e o desenvolvimento regional e visa ser referência nacional em educação profissional, científica e tecnológica, para o mundo do trabalho, por meio da formação cidadã. Para saber mais acesse: <i><a href='http://ifc.edu.br/' target="blank">ifc.edu.br</a></i> ou <i><a href='http://blumenau.ifc.edu.br/' target="blank">blumenau.ifc.edu.br</a></i></p>
				</div>
			</div>
		</div>	
	</div>
</div>

{% endblock section %}
