{% extends "layout.html" %}
{% block title %} Função {% endblock%}
{% block script %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/d3@3/d3.min.js"></script>  
{% endblock %}

{% block body %}
<div class="container">
    <form method="GET" class="form-group">
        <br>
        <!-- Linha 1: Entrada de Dados e resultados -->
        <div class="row justify-content-start">
            <!-- Coluna 1: FUNCAO / VARIAVEIS/ BUTTON SUBMIT-->
            <div class="col-4">               
                <!-- Card: input function e variables-->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">Função</h5>
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <!-- Input Function -->
                            <div class="input-group-prepend">
                                <span class="input-group-text">f(x) =</span>
                                <span><input list="functions" id="input_function" type="text" class="form-control" name="input_function" placeholder='Entre com uma função' value="{{ dic.input_function }}"></span>
                                <!-- https://www.w3schools.com/html/tryit.asp?filename=tryhtml_elem_datalist -->
                                <datalist id="functions">
                                    {% for function in dic.list_functions %}
                                        <option value="{{ function }}">{{ function }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>
                    </div>
                    {% if dic.function.dic_variables %}
                        <div class="card-header3">
                            <h5 class="card-title text-center">Variáveis</h5> 
                        </div>               
                        <div class="card-body">
                            <div class="input-group">
                                <!-- Linha: Input Variables -->
                                <div class="form-row">
                                    {% for key in dic.function.dic_variables %}
                                        <!-- variavel individual -->
                                        <div class="input-group-prepend col-6">
                                            <span class="input-group-text" id={{ key }}>{{ key }}</span>
                                            <span><input id={{ key }} type="number" step="any" class="form-control" aria-label="Small"  name={{ key }} value='{{ dic.function.dic_variables[key] }}'></span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <br>
                <button type="submit" class="btn btn-basic">Gerar gráfico</button>
            </div>
            <!-- Coluna 2: DADOS DA FUNCAO/DICAS/INTRUCOES -->
            <div class="col-5">
                <!-- Card: dados da funcao -->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">Dados da função</h5>
                    </div>                
                    <div class="card-body">
                        f(x) = {{ dic.input_function }}
                        <br>Solução Real = {{ dic.function.solve_real }}
                    </div>
                </div>
            </div>
            <!-- Coluna 3: OPCOES DO GRAFICO -->
            <div class="col-3">
                <!-- Card: configuracoes do grafico-->
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title text-center">Configurações do gráfico</h5>
                    </div>                
                    <div class="card-body">
                        <!-- opcoes da funcao -->
                        <div class="input-group">
                            <div class="row">
                                <!-- Input inicio -->
                                <div class="input-group-prepend col-12">
                                    <span class="input-group-text" id="begin">Inicio</span>
                                    <span><input id="begin" type="number" step="any" class="form-control" name="begin" value='{{ dic.function.begin }}'></span>
                                </div>

                                <!-- Input final -->
                                <div class="input-group-prepend col-12">
                                    <span class="input-group-text" id="end">Final</span>
                                    <span><input id="end" type="number" step="any" class="form-control" name="end" value='{{ dic.function.end }}'></span>
                                </div>

                                <!-- Input pixels -->
                                <div class="input-group-prepend col-12">
                                    <span class="input-group-text" id="pixels">Pixels</span>
                                    <span><input id="pixels" type="number"   class="form-control" name="pixels" min="10" max="4086" value='{{ dic.function.pixels  }}'></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <!-- Linha 2: Mensagens de erro -->
    <div class="row">
        {% if dic.error %}
        <!-- Coluna 1: mensagem de erro-->
        <div class="col-4">
            <div class="alert alert-warning" role="alert">
                <p> {{ dic.error }} </p>
            </div>
        </div>
        <!-- Coluna 2: MENSAGENS SOBRE A ENTRADA DA FUNCAO -->
        <div class="col-4">
            <div class="alert alert-info" role="alert">
                <p> Corrija o erro e gere o gráfico nova! </p>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- Linha 3: GRAFICO -->
    <div class="row">
        <!-- Coluna 1: Grafico-->
        <div class="col-12">
            <div id="graph-div"></div>
        </div>
    </div>
</div>

<script>
    var data = new Array();
    var trace1 = {
            x : {{ dic.function.coordinates[0] }},
            y : {{ dic.function.coordinates[1] }},
            mode : 'lines',
            type : 'scatter',
            name : '', //'f(x) = {{ dic.input_fuction }}',
        };
    var trace2 = {
        x : {{ dic.function.coordinates[0] }},
        y : {{ dic.function.coordinates[1] }},
        mode  : 'lines',
        type : 'scatter'

    };
    data.push(trace1);
    //data.push(trace2);
    var layout = {
        title: '',
    };
    // https://plot.ly/javascript/configuration-options/
    Plotly.newPlot('graph-div', data, layout, {scrollZoom: true});
</script>
{% endblock %}
