{% extends "layout.html" %}
{% block title %} Função {% endblock%}
{% block script %}
    <script src="https://unpkg.com/d3@3/d3.min.js"></script>
    <script src="https://unpkg.com/function-plot@1/dist/function-plot.js"></script>
    <!-- LINKS INTERNOS-->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/function_plot.js"></script>
    <script>
        $(document).ready(function(){
            $(".toggler-function").click(function(){
                $(".toggler-button-function").animate({
                    height: 'toggle'
                });
            });
        });
        $(document).ready(function(){
            $(".toggler-function_data").click(function(){
                $("#toggler-button-function_data").animate({
                    height: 'toggle'
                });
            });
        });
    </script>
{% endblock %}

{% block section%}
<body onresize="reloadGraph()" onload="reloadGraph()">
    <div class="row container-fluid">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 cards">
            <!-- form -->
            <form method="GET" class="form-group">
                <!-- Entrada de dados -->
                <div class="card border-blue-5">
                    <!-- Entrada da função -->
                    <div class="card-header text-white bg-blue-5">
                        <h5 class="card-title text-center">Função
                            <button type = "button" class="btn toggler-function text-white bg-blue-5 navbar-dark" id="bottom-dynamic" style="margin-bottom: 5px"><span class="navbar-toggler-icon"></span></button><!-- navbar-toggler-icon é um icon do boostrap -->    
                        </h5>
                    </div>
                    <div class="card-body toggler-button-function">
                        <div class="input-group">
                            <!-- Input Function -->
                            <div class="input-group-prepend">
                                <span class="input-group-text text-white bg-blue-3">f(x) =</span>
                                <span>
                                    <input list="functions_options" id="input_function" type="text" class="form-control" name="input_function" placeholder='Entre com uma função' value="{{ dic.input_function }}">
                                </span>
                                <!-- https://www.w3schools.com/html/tryit.asp?filename=tryhtml_elem_datalist -->
                                <datalist id="functions_options">
                                    <option value='ax + b'>ax + b</option>
                                    <option value='ax^2 + bx + c'>ax^2 + bx + c</option>
                                    <option value='ax^3 + bx^2 + cx + d'>ax^3 + bx^2 + cx + d</option>
                                    <option value='ax^4 + bx^3 + cx^2 + dx + e'>ax^4 + bx^3 + cx^2 + dx + e</option>
                                </datalist>
                            </div>
                        </div>
                    <!-- Mensagens de erro -->
                    {% if dic.error %}
                    <div class="alert bg-yellow" style="background-color: #FFF718" role="alert">
                        <p> {{ dic.error }} </p>
                    </div>    
                    {% endif %}
                    </div>
                    <!-- Coeficientes da função -->
                    {% if dic.coefficients %}
                        <div class="card-header text-white bg-blue-5 toggler-button-function">
                            <h5 class="card-title text-center">Coeficientes</h5> 
                        </div>               
                        <div class="card-body toggler-button-function">
                            <div class="input-group">
                                <!-- Linha: Input coefficients -->
                                <div class="form-row">
                                    {% for key in dic.coefficients %}
                                        <!-- variavel individual -->
                                        <div class="input-group-prepend col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <span class="input-group-text text-white bg-blue-3" id={{ key }}>{{ key }}</span>
                                            <span><input id={{ key }} type="number" step="any" class="form-control" aria-label="Small"  name={{ key }} value='{{ dic.coefficients[key] }}'></span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- submit -->
                <button class="btn text-white bg-blue-3 toggler-button-function" style="margin-top: 5px" type="submit">Gerar gráfico</button>
            </form>
            <!-- \form -->

            <!-- Informações da função -->
            <div class="card border-blue-5">
                <div class="card-header text-white bg-blue-5">
                    <h5 class="card-title text-center">Dados da função
                            <button type = "button" class="btn toggler-function_data text-white bg-blue-5 navbar-dark" id="bottom-dynamic" style="margin-bottom: 5px"><span class="navbar-toggler-icon"></span></button><!-- navbar-toggler-icon é um icon do boostrap -->
                    </h5>
                </div>                
                <div class="card-body" id="toggler-button-function_data">
                    f(x) = {{ dic.function_math }}
                    <br>Solução Real = {{ dic.solve_real }}
                </div>
            </div>
        </div>
        <!-- Grafico -->
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9">
            <div class="graph" style="margin-top: 15px;"></div>
        </div>
    </div>
    <!-- Executar o código JavaScript 
    O JS não reconhece as variáveis do Flask em arquivo externo-->
    <script>
        function reloadGraph(){
            function_plotar('{{ dic.function_graph }}');
        }
    </script>
</body>
{% endblock %}
