<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <title> Entrust - {% block title %} Flask {% endblock %}</title>
        <!-- autorais -->
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <!-- Links Externos -->
        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- SCRIPT -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% block script %}{% endblock %}
        
    </head>
    <body>
        <!-- https://getbootstrap.com/docs/4.0/components/navbar/ -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-blue-1">
            <a class="navbar-brand" href="/">Entrust</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="nav-link text-white" href="/function">Função</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/linear_system">Sistema Linear</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" href="/about">Sobre</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="container-fluid">
            {% block section %}{% endblock %}
        </section>
        <!-- Footer -->
        <footer class="text-white bg-blue-1">
            <div class="row container-fluid text-center">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-inline">
                    <img src="static/logo-ifc.png" style="margin:5px" alt="Logo do IFC - Campus Blumenau." width="200" hight="100">
                </div>
                <!-- -->
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-inline" style="padding:5px">
                    <p style="align-center">ENTRUST: Solução e Apresentação Gráfica de Funções na Web</p>
                </div>
                <!-- Repositorios -->
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-inline">
                    <!-- <a href="https://gitlab.blumenau.ifc.edu.br/Adriano/entrust" target="blank" style="color:white" >
                            <img src="static/logo-gitlab.png" alt="Icone do Gitlab." width="40" hight="40"><br>GitLab</a> -->
                </div>
            </div>
        </footer>
    </body>
</html>
