{% extends 'layout.html' %}

{% block title %} Questão {{ question.id }} {% endblock title%}
{% block script %}
    <script src="https://unpkg.com/d3@3/d3.min.js"></script>
    <script src="https://unpkg.com/function-plot@1/dist/function-plot.js"></script>
    <!-- LINKS INTERNOS-->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script type="text/javascript" src="/static/function_plot.js"></script>
{% endblock script %}

{% block section %}
<!-- Question -->
<div class="row container-fluid">
    <div class="container">
        <p>Question</p>
        <p>{{ question.text }}</p>
    </div>
</div>
<!-- Graph -->
<div class="row container-fluid">
    <div class="container text-center">
        <div class="graph"></div>
        <p class="text-center">
            <a href="/function?input_function=ax^3+%2B+bx^2+%2B+cx+%2B+d" target="blank">Ampliar Gráfico</a>
        </p>
    </div>

<div class="row container-fluid">
    <div class="container text-center">
        <form>
            {% for option in question.options%}
                <input type="radio" name='answer' value="{{ option.id }}">  {{ option.letter }}) {{ option.text }}<br>
            {% endfor %}
        </form>
    </div>
</div>
<script>
    var width = $('container').width();
    function_plotar('{{ question.graph_function }}', width, width);
</script>
{% endblock section %}
